*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    float: left;
}

:root
{
    --color-1: #F5F6F7;
    --color-1-border: #D6D6D6;
    --color-1-hover: #D5E7F8;
    --color-1-border-hover: #7AB1E8;

}

#ipfs-notepad-app
{
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: var(--color-1);
    width: 100%;
}

#ipfs-notepad-menu-container
{
    width: 100%;
}

#ipfs-notepad-textarea
{
    flex-grow: 1;
    resize: none;

    overflow: scroll;

    padding-left: 5px;
    padding-top: 3px;

    font-family: 'Consolas';
    font-size: 14px;
}

